.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: rgb(255, 255, 255);
    height: 5rem;
    font-weight: bold;
}

.list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.list li {
    margin-right: 1rem;
}