.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #673ab7;
    color: rgb(255, 255, 255);
    height: 5rem;
    font-weight: bold;
    position: sticky;
    top: 0px;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-left: 1rem;
}

.list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.list li {
    margin-right: 1rem;
    cursor: pointer;
}