.title{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    color:#52C1DE;
    font-size: 3rem;
}
.skills{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 2rem;
   
}

.skills div h2{
    margin: 1rem;
}




.gif {
    
    width: 100%;
    border-radius: 4px;
    
    
}






@media (min-width: 800px){
    .skills{
        grid-template-columns: repeat(4,1fr);

    }
}






























@media (min-width: 800px){
    .skills h1{
        color: #115799 ;
    }
}
