.title {
    text-align: left;
    font-size: 2.4rem;
    color:#ff9500;
    margin-bottom: 1rem;

}

.container {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

.projectsCard {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .projectsCard {
        grid-template-columns: repeat(3, 1fr);
    }
}

.projectsDescription {
    width: 80%;
    margin: 0 auto;
    border-radius: 6px;
    padding: 1rem;
    color:#ff9500;
    box-shadow: 0 0 1px 1px;
}



.projectsDescription img {
    width: 100%;
    border-radius: 4px;
}


