.app {
    display: flex;
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 15px;
    min-height: 100vh;
    border-radius: 10px;
    flex-direction: column;
    background: rgba(3, 4, 90, 0.6);
}

@media (min-width: 800px) {
    .app {
        padding: 0 100px;
        min-height: calc(100vh - 8vh);
        width: 90%;
        margin-top: 4vh;
        margin-bottom: 4vh;
        box-shadow: 0 0 10px #2725a1;
    }
}