* {
    padding: 0;
    margin: 0;
    /*box-sizing: border-box;*/
  }
  
  body {
    font-family: 'Source Code Pro', monospace;
     -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(30deg, #015bae 40%, #01408f 50%) no-repeat;
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  body::-webkit-scrollbar {
    display: none;
  }
  
  body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  code {
    font-family: 'Source Code Pro', monospace;
    
  }
  
  .container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1280px;
    width: 10px;
    
  }
  
  p {
    line-height: 10px;
    font-family: 'Source Code Pro', monospace;
  }